<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/> 
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta name="MobileOptimized" content="320"/>
        <title>百融金服</title>
        <link type="text/css" href="/template/css/custom.css" rel="stylesheet" />
        <script type="text/javascript" src="/template/js/jquery.js"></script>
        <script type="text/javascript" src="/template/js/jquery.validate.js"></script>
        <script type="text/javascript" src="/template/js/jquery.validate.messages.zh-cn.js"></script>
        <script type="text/javascript" src="/template/js/custom.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header_2">
                    <img src="/template/img/logo2.jpg"/>
                </div>
                <div class="header_3">
                    <img src="/template/img/logo3.jpg"/>
                </div>
            </div>
            <div class="content">
                <div class="content1"></div>
                <div class="frmDiv">
                    <form id="input_form" action="#" class="frm">
                        <div class="formDiv1">
                            <input id="user_id" name="user_id" type="text" placeholder="您的联通手机号码" />
                            <input id="platform_key" type="hidden" value="$!platformKey"/>
                            <input id="host_id" type="hidden" value="1"/>
                            <input id="authcode" type="hidden" value=""/>
                        </div>
                        <div class="formDiv2">
                            <input id="passwd" name="passwd" type="password" value=""  placeholder="您的服务密码" />
                            <span><img id="show_passwd" src="/template/img/eye.png" /></span>
                        </div>
                        <div class="formDiv3">
                            忘记服务密码，可在联通官网找回<br/>
                            <span id="tip"></span>
                        </div>
                        <div class="formDiv4">
                            <span class="formDiv41"><img id="selected" src="/template/img/selected.png"></span>
                            同意
                            <span class="formDiv42"><a href="/template/ui/protoc?platform_key=$!platformKey">《网站服务协议》</a></span>
                        </div>
                        <div class="formDiv5">
                            <button id="submit" type="button">确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;认</button>
                        </div>
                    </form>
                    <div class="hiddenDiv">
                        <img src="/template/img/wait.GIF" />
                        <br/><br/><br/>提交中，请不要关闭页面。
                    </div>
                </div>
            </div>
            <div class="footer">
                <p>
                    Copyright©百融（北京）金融信息服务股份有限公司 All Reserved.<br/>京ICP 14032774
                </p>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                init();
                $("#submit").click(function () {
                    var platformKey = $("#platform_key").val();
                    var hostId = $("#host_id").val();
                    var userId = $("#user_id").val();
                    var passwd = $("#passwd").val();
                    var authcode = $("#authcode").val();
                    var selected = $("#selected").attr("src");
                    if (userId == null ||  userId.length != 11) {
                        $("#tip").text("手机号码格式不正确！");
                        return;
                    }
                    if (passwd == null || passwd.length < 1) {
                        $("#tip").text("服务密码不能为空！");
                        return;
                    }
                    if (selected === "/template/img/select.png") {
                        $("#tip").text("未通过运营商授权协议！");
                        return;
                    }
                    loading();
                    $.ajax({
                        url: "/template/information_collection/user_platform_info?" + "platform_key=" + platformKey + "&host_id=" + hostId + "&user_id=" + userId + "&passwd=" + passwd + "&authcode=" + authcode,
                        dataType: "jsonp",
                        success: function (data) {
                            if (data.is_ok === "3") {
                                window.location.href = "/template/ui/success";
                            } else if (data.is_ok === "4") {
                                $("#tip").text("手机号码或服务密码不正确！");
                                unloading();
                            } else if (data.is_ok === "5") {
                                $("#tip").text("号码已经授权！");
                                unloading();
                            }
                        },
                        error: function (arg) {
                            var e = arg;
                        }
                    });
                });
                $("#show_passwd").click(function () {
                    var passwdType = $("#passwd").attr("type");
                    var v = $("#passwd").val();
                    if (passwdType == "text") {
                        $('#passwd').replaceWith('<input id="passwd" name="passwd"  type="password" placeholder="您的服务密码">');
                    } else {
                        $('#passwd').replaceWith('<input id="passwd" name="passwd"  type="text" placeholder="您的服务密码">');
                    }
                    $("#passwd").val(v);
                });
            });
        </script>
    </body>
</html>
